#bio-image {
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50%;
}

.wrapper { 
  border : px; 
  overflow:hidden;
  margin: 25px;
}

.wrapper div {
   height: auto;
   padding: 10px;
}
#left {
  float:left; 
  margin-right:20px;
  width:200px;
  border-right:2px;
  text-align: center;
}
#right { 
  background-color: white;
  overflow:hidden;
  margin:10px;
  border:2px
  min-height:170px;
}

@media screen and (max-width: 700px) {
   #left { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}

.fa{
    font-size: 25px
}

.fa-download{
    font-size: 15px
}

.link{
    font-size:15px;
    color: #000;
}

ul#social li{
  list-style: none;
  display:inline;
}
}
